
.btn-wrapper{
    gap:20px;
}

.add_work{
    padding-top: 0 !important;
}



.detail-page.add_work .py-5{
    padding-top: 0px !important;
}
.detail-page{
    margin-top: 0px !important;
    margin-left: 0px;
}
