$primary-color: #1565C0;
$red-color: #D32F2F;
$submitted-color: #388E3C;
$priority-normal: #E8EAED;
$priority-urgent: #FFA500;
$priority-super-urgent: #B10202;
$white-color: #FFFFFF;
$black-color: #000000;