.form_control{
    appearance: auto;
}

.btn-wrapper{
    gap:20px;
}

.add_timesheet{
    padding-top: 0 !important;
}



.detail-page.add_timesheet .py-5{
    padding-top: 0px !important;
}
.detail-page{
    margin-top: 0px !important;
    margin-left: 0px;
}
.popup-content-overlay{
    overflow-y: scroll;
}